ATLASDB_URL=mongodb+srv://USERNAME:PASSWORD@cluster0.example.mongodb.net/wonderlust?retryWrites=true&w=majority
SECRET=your_session_secret

CLOUD_NAME=your_cloudinary_cloud_name
CLOUD_API_KEY=your_cloudinary_api_key
CLOUD_API_SECRET=your_cloudinary_api_secret
GEOAPIFY_API_KEY=your_geoapify_api_key
